<style>
    .body {
        background-color=black;
    }
    
    h1 {
        padding-top: 10%;
        text-align: center
    }
    
    .glow {
        font-size: 80px;
        color: #fff;
        text-align: center;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
    }
    
    @-webkit-keyframes glow {
        from {
            text-shadow: 0 0 10px rgb(250, 62, 62), 0 0 20px rgb(250, 113, 113), 0 0 30px #4ec002, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
        }
        to {
            text-shadow: 0 0 20px rgb(226, 85, 85), 0 0 30px #06db11, 0 0 40px #06b4b4, 0 0 50px #b2ff4d, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
        }
    }
</style>

<body>

    {% extends 'base.html' %} {% block content %}
    <h1 class="glow"> helllooooooooo this is homepage !!!!!!!</h1> {% endblock content %}
</body>